*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.logo img{
    float: left;
    width: 300px;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
    position: absolute;
    top: 40px;
}


ol {
    background: #0068c5;
    padding: 20px;
    margin-top: 50px;
    list-style-type: none;
  }


  h1{
      position: relative;
      margin-top: 250px;
      text-align: center;
  }
  

  ol li {
    background: #d7e7fa;
    margin: 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }  



  ul{
    float: right;
    list-style-type: none;
    position: absolute;
    top: 110px;
    right: 30px;
 
}


ul li{
    display: inline-block;
    color: #0068c5;
}

ul li a{

    text-decoration: none;
    color: #0068c5;
    padding: 5px 40px;
    border: 2px solid transparent ;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #0068c5;
    color: white;
}

ul li.active a{
    background-color: #0068c5;
    color: white;
}


  


